<footer class="conatiner p-5 bg-secondary" style="color: white;">
    <div class="row mb-3 align-items-center p-5 pb-0">
        <div class="col-lg-6 col-md-6 col-sm-12 row align-items-center">
            <h3 class="col-lg-6 col-md-12 col-sm-12 mb-2">Follow Our Social Links</h3>
            <div class="col-lg-6 col-md-12 col-sm-12 d.inline mb-2">
                <i class="fa-brands fa-facebook-square m-2 fs-4"></i>
                <i class="fa-brands fa-linkedin m-2 fs-4"></i>
                <i class="fa-brands fa-twitter m-2 fs-4"></i>
                <i class="fa-brands fa-instagram m-2 fs-4"></i>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 row align-items-center mb-2">
            <h3 class="col-lg-6 col-md-12 col-sm-12 mb-3">Be the First One to Hear About Updates</h3>
            <div class="input-group mb-3 col-lg-6 col-md-12 col-sm-12 mb-2">
                <input type="email" class="form-control" placeholder="Enter your email">
                <span class="input-group-text" id="basic-addon2">Subscribe</span>
            </div>
        </div>
    </div>
    <p class="text-center">&#169; <%= year %> Shaik Naveed Ahammed, All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>