<div class="text-center" style="background-color: #333;
overflow: auto;
white-space: nowrap;">
  <a class="hover" style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/business">BUSINESS</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/entertainment">ENTERTAINMENT</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/sports">SPORTS</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/technology">TECHNOLOGY</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/science">SCIENCE</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/general">GENERAL</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/education">EDUCATION</a>
  <a style="display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;" href="/categories/health">HEALTH</a>
</div>